<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="./webcontent/js/fileassignment.js"></script>
    <script src="./webcontent/js/dirpagination.js"></script>
</head>

<body>
  <div>
    <center><h1>Posts</h1></center>
  </div>

  <div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class="container" ng-hide="hideMe">
        <table id="table" class="table table-striped"   >
           <thead>
	           <tr>
                <th id="h1">userId</th>
                <th id="h1">id</th>
                <th>Title</th>
                <th>Body</th>
              </tr>
            </thead>
              <tr ng-repeat="x in arr">
                <td class="td1">{{x.userId}}</td>
                <td class= "td1"><a href="#" ng-click="myFun(x)">{{x.id}}</a></td>
                <td class= "td1">{{x.title}}</td>
                <td class= "td1">{{x.body}}</td>
              </tr>
        </table>
      <div> 
        <center> <button class="btn  btn-primary" ng-click="previous()">Previous</button>
        <button class="btn  btn-primary" ng-click="next()">Next</button></center>
      </div>
    </div>
 
    <div  class="container" ng-show="showMe">
       <table class="table table-striped">
          <thead>
            <tr>
              <th id="h1">userId</th>
              <th id="h1">id</th>
              <th>Title</th>
              <th>Body</th>
            </tr>
          </thead>
            <tr>
              <td>{{y.userId}}</td>
              <td>{{y.id}}</td>
              <td>{{y.title}}</td>
              <td>{{y.body}}</td>
            </tr>
        </table>
      <button class="btn  btn-primary" ng-click="goBack()">Back</button>
    </div>
  </div>
</body>

</html>
