#table{
	width:100%;
	white-space: nowrap;
	table-layout:fixed;
}

.td1{
	overflow: hidden;
	text-overflow: ellipsis
}

#h1{
	width:7%;
}

.container{
	border: 1px solid #d4d6d8;
	padding:0px;
}

.btn{
	
	margin: 0px;
	background:  #d4d6d8;
	color:black;
	border: #d4d6d8;
}