body{
	background-color:#f7f8f9;
}
td{
	font-size: 13px;
}

button{
	border:#d4d6d8;
	font-size: 13px;
	margin: 2px;
	padding:3px;
	font-family: Comic Sans MS ;
	border-radius: 2px 2px 2px 2px;
}

.tab{
	margin:20px;
	border:1px solid #d4d6d8;
	padding:10px;
}
#table{
	width:100%;
	white-space: nowrap;
	table-layout:fixed;
	height:70vh;
}

.td1{
	overflow: hidden;
	text-overflow: ellipsis
}

#h1{
	width:7%;
}

#posts{
	height:40px;
	margin-left:20px;
	margin-top: 20px;
}

#btn{
	margin-top:5px;
}




