body{
	background-color:#f9f9fc;
}
td{
	font-size: 13px;
	padding:7px;
	border-bottom:1px solid #d4d6d8;
}

button{
	border:#d4d6d8;
	font-size: 13px;
	margin: 2px;
	padding:3px;
	font-family: Comic Sans MS ;
	border-radius: 2px 2px 2px 2px;
	width:40px;
	background-color:#b8b8c4;
}

h1{
	padding-top:30px;
	margin-left:20px;
	font-family:Comic Sans MS ;
	color: white;

}

th{
	padding:2px;
	font-family: Comic Sans MS;
	font-size: 25px;
	background: #dfe1ee;
	border: 1px solid #dfe1ee;
}

tr{
	
	height:10px;

}

#table{
	
	width:100%;
	white-space: nowrap;
	table-layout:fixed;
	height:70vh;
}

#header{
	margin-left: 20px;
	margin-right: 20px;
	height:90px;
	background-color:  #4267B2;
	-webkit-box-shadow: -1px 0px 14px -2px rgba(133,124,133,1);
	-moz-box-shadow: -1px 0px 14px -2px rgba(133,124,133,1);
	box-shadow: -1px 0px 14px -2px rgba(133,124,133,1);
}

#btn{
	margin-top:5px;
	margin-left: 20px;

}


#h1{
	width:10%;
	padding-bottom:7px;
}

.tab{
	padding-top:0px;
	margin-left:20px;
	margin-right:20px;
	border:1px solid #dfe1ee;
	padding:10px;
	background-color: white;
	-webkit-box-shadow: -1px 0px 14px -2px rgba(133,124,133,1);
	-moz-box-shadow: -1px 0px 14px -2px rgba(133,124,133,1);
	box-shadow: -1px 0px 14px -2px rgba(133,124,133,1);
}

.td1{
	overflow: hidden;
	text-overflow: ellipsis
}

.text-right{
	margin-right:20px;
	padding-top:5px;
}
